@import "tailwindcss";

.mainColor{
  color: #ec3323;
}
.mainbg{
  background-color: #ec3323;
}

.shafe{
  clip-path:polygon(0% 0% ,90% 0%,100% 100%,0% 100%) ;
}
.shafe1{
  clip-path:polygon(0% 0% ,100% 0%,100% 100%,20% 100%) ;
}
.shafe3{
  clip-path:polygon(0% 0% ,43% 0%,100% 100%,0% 100%) ;
}
.shafe4{
  clip-path:polygon(0% 0% ,100% 0%,100% 100%,29% 100%) ;
}

.shafe5{
  clip-path:polygon(20% 0% ,100% 0%,80% 100%,0% 100%) ;
}
.shafe7:hover{
  clip-path:polygon(20% 0% ,100% 0%,80% 100%,0% 100%) ;
  transition: .3s all;
}
.shafe6{
  clip-path:polygon(0% 0% ,80% 0%,100% 100%,20% 100%) ;
    transition: .3s all;
}
.shafe8{
  clip-path:polygon(0% 0% ,80% 0%,100% 100%,0% 100%) ;
}
.shafe9{
  clip-path:polygon(0% 0% ,100% 0%,100% 100%,19% 100%) ;
}
.hero{
  background-image:  linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(./img/slider-2.4cd97469474175a97a63.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
  
}